@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
  }
}

body {
  color: #fff;
  background-color: #242424;
}

@keyframes slide-in-left {
  0% {
    transform: translateX(-20%) scale(0.9);
    opacity: 0;
  }
  100% {
    transform: translateX(0) scale(1);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  0% {
    transform: translateX(10%) scale(0.9);
    opacity: 0;
  }
  100% {
    transform: translateX(0) scale(1);
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.slide-in-left {
  animation: slide-in-left 0.3s ease-out forwards;
}

.slide-in-right {
  animation: slide-in-right 0.3s ease-out forwards;
}

.fade-in {
  animation: fade-in 0.3s ease-out forwards;
}

.sakura-3 {
  filter: invert(45%) sepia(36%) saturate(2593%) hue-rotate(317deg) brightness(99%) contrast(91%);
}